@model Everyday.Models.Producto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Imagen</label>
        </dt>

        <dd>
            <img src="@Url.Action("MostrarImagen", "Producto", new { Id = Model.idProd })" alt="..." style="width:200px; height:200px;" id="imgUser" />
            @Html.ValidationMessageFor(model => model.imagen, "", new { @class = "text-danger" })

        </dd>

        <dt>
            <label>Nombre</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameProd)
        </dd>

        <dt>
            <label>Descripción</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            <label>Cantidad</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            <label>Precio</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            <label>Stock</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            <label>Registrado</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>

        <dt>
            <label>Categoria</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.nameCateg)
        </dd>

        <dt>
            <label>Marca</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca.nameMarc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idProd }) |
    @Html.ActionLink("Back to List", "Index")
</p>
