@model IEnumerable<Everyday.Models.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Imagen
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nameProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.nameCateg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca.nameMarc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                <img style="width:100px; height:100px;" src="@Url.Action("MostrarImagen", "Producto", new { Id = item.idProd })" alt="..." id="imgUser" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.nameCateg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca.nameMarc)
            </td>
            <td>
                @Html.ActionLink("+ Añadir", "Carrito", new { id = item.idProd }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.idProd }) |
                @Html.ActionLink("Details", "Details", new { id = item.idProd }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idProd })
            </td>
            <td>
            
            </td>
        </tr>
    }

</table>
