@model List<Everyday.Models.Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Categoria/_Layout.cshtml";
}

<style>
    /*.dropdown {
        position: relative;
        display: inline-block;
    }

    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 12px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }*/

</style>

@*<script src="~/Models/JavaScript.js"></script>*@

<table class="table">
    <tr>
        <th>
            <label>Categoria</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img style="width:100px; height:100px;" src="@Url.Action("MostrarImagen", "Producto",  new { Id = item.idCateg })" alt="..." id="imgUser" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameCateg)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new{ id = item.idCateg }) |
                @Html.ActionLink("Details", "Details", new {  id = item.idCateg }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idCateg })
            </td>
            <td>
            </td>
        </tr>
    }

</table>