@model IEnumerable<Everyday.Models.Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div style="margin:auto;" class="container">
    <p>
        @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-success" })
    </p>
    <table class="table table-bordered">
        <tr>
            <th>
                Categoria
            </th>
            <th>
                Creado
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.nameCateg
                </td>
                <td>
                    @item.createdAt
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idCateg }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idCateg }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idCateg })
                </td>
            </tr>
        }

    </table>
</div>
