<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Everyday</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .navbar {
            width: 1290px;
            margin-top: 10px;
        }

        .container {
            margin-left: 0;
            width: 1290px;
        }

        .navbar-brand {
            margin-left: 15px;
            font-size: 30px;
            font-weight: bold;
        }

        .nav-link, a {
            color: black;
            font-size: 20px;
        }

        .btn:focus {
            outline: none;
            text-decoration: none;
        }

        #numProd:hover {
            text-decoration: none;
        }

        #btnOpciones {
            margin-top:0px;
            margin:0;
            padding:0;
            justify-content: space-between;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 5%;
            left: 95%;
            transform: translate(-5% -95%)
        }

        #menuOpcs {
            border-radius: 5px;
            background-color: white;
            position: absolute;
            top: 10%;
            left: 87.5%;
            transform: translate(-10% -87.5%);
        }

        #btnC, #btnM, #btnP {
            border-radius: 0;
        }

        #btnC:hover, #btnM:hover, #btnP:hover {
            background-color: #989898;
            color: white;
        }
    </style>

</head>
<body>
    <nav id="menu" class="navbar navbar-expand-lg navbar-light bg-white container-fluid">
        <div class="container-fluid">
            @Html.ActionLink("Everyday", "Home", "Home", null, new { @class = "navbar-brand" })
            <img src="~/Image/Logo.png" style="margin-top:10px;" />
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-5 my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li style="margin-left: 30px;">@Html.ActionLink("Principal", "Home", "Home", null, new { @class = "nav-link" })</li>
                    <li style="margin-left: 30px;">
                        @Html.Partial("_LayoutPartial")
                    </li>
                    <li style="margin-left:30px;">
                        @Html.ActionLink("Nosotros", "Contact", "Home", null, new { @class = "nav-link" })
                    </li>
                </ul>
                <form style="margin-left:-10px;">
                    <input class="form-control" type="search" style="width:350px;" placeholder="Buscar" aria-label="Search">
                    @*<button class="btn btn-outline-success" type="submit">Search</button>*@
                </form>
                <a href="@Url.Action("Index","Carrito")" style="text-decoration:none; display:flex; margin-left:15px; margin-right:15px; justify-content:center; align-items:center;">
                    <img src="~/Image/carro-de-la-compra.png" style="width: 30px; height:30px;" />
                    @{
                        string role = "";
                        int numProd = 0;

                        if (Session["user"] != null)
                        {
                            string cmd = "SELECT COUNT(*) FROM Carrito WHERE idUser=" + Session["user"] + "";
                            System.Data.DataSet ds = Everyday.Models.Utilities.Ejecutar(cmd);
                            numProd = int.Parse(ds.Tables[0].Rows[0][0].ToString());

                            cmd = "SELECT roleUser FROM Usuario WHERE idUser=" + Session["user"] + "";
                            ds = Everyday.Models.Utilities.Ejecutar(cmd);
                            role = ds.Tables[0].Rows[0][0].ToString();
                        }

                        <span style="text-decoration:none;" class="badge bg-dark text-white ms-1 rounded-pill contador-carrito">
                            @numProd
                        </span>
                    }
                </a>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    @if (role == "Admin")
    {
        <!--<nav class="navbar navbar-expand-lg navbar-light bg-white container-fluid">
            <div class="container-fluid">
                @Html.ActionLink("Everyday", "Home", "Home", null, new { @class = "navbar-brand" })
                <img src="~/Image/Logo.png" style="margin-top:10px;" />
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-5 my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li style="margin-left: 30px;">@Html.ActionLink("Principal", "Home", "Home", null, new { @class = "nav-link" })</li>-->
        @*<li style="margin-left: 30px;">
                @Html.Partial("_LayoutPartial")
            </li>*@
        <!--<li style="margin-left:30px;">
                            @Html.ActionLink("Productos", "Index", "Producto", null, new { @class = "nav-link" })
                        </li>
                        <li style="margin-left:30px;">
                            @Html.ActionLink("Tienda", "Index", "Categoria", null, new { @class = "nav-link" })
                        </li>
                        <li style="margin-left:30px;">
                            @Html.ActionLink("Marcas", "Index", "Marca", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>-->

        @*<button id="btnOpciones" onclick="desplegar()" class="btn btn-dark"><i style="font-weight:bold;">+</i></button>
        <div id="menuOpcs" style="z-index: 2;  display: none;" class="card">
            <div id="btns" style="width: 150px">
                @Html.ActionLink("Categorias", "Index", "Categoria", null, new { @class = "btn nav-link", id = "btnC" })
                @Html.ActionLink("Marcas", "Create", "Marca", null, new { @class = "btn nav-link", id = "btnM" })
                @Html.ActionLink("Productos", "Index", "Producto", null, new { @class = "btn nav-link", id = "btnP" })
                @Html.ActionLink("Usuarios", "Index", "Account", null, new { @class = "btn nav-link", id = "btnP" })
            </div>
        </div>*@
    }
    else
    {
       
    }

    <script>
        function desplegar() {
            var elemento = document.getElementById("menuOpcs");
            if (elemento.style.display === "block") {
                elemento.style.display = "none";
            }
            else {
                elemento.style.display = "block";
            }
        }

        function ocultar() {
            document.getElementById("menuPerfil").style.display = "none";
        }
    </script>

    <div onclick="ocultar()">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Everyday</p>
            </footer>*@
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>