<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Everyday</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .navbar {
            width: 1290px;
        }

        .container {
            margin-left: 0;
            width: 1290px;
        }

        .navbar-brand {
            margin-left: 15px;
            font-size: 30px;
            font-weight: bold;
        }

        .nav-link, a {
            color: black;
            font-size: 20px;
        }

        #ver-menu {
        }
    </style>

</head>
<body>
    @model IEnumerable<Everyday.Models.Categoria>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            @Html.ActionLink("Everyday", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-5 my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li style="margin-left: 50px;">@Html.ActionLink("Principal", "Home", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li style="margin-left: 50px;">
                    <li>
                        @*<input id="btnCategoritas" style="font-size:20px; border:none; text-decoration:none; background-color:transparent; margin-top:8px;" type="button" value="Categorias" />*@
                        @*<input id="btnVerCategoritas" style=" font-size:20px; border:none; text-decoration:none; background-color:transparent; margin-top:8px;" type="button" value="Categorias" onclick="desplegar()" />*@

                        @*<div id="ver-menu" style="display:none; background-color: #efefef; border-radius: 10px; padding: 5px; height: 400px; margin-left: -10px; overflow: auto; position: absolute; width: 300px; ">*@
                 
                        @Html.Partial("LayoutPartial")

                        @*<ul id="uls" style="width:100%; text-decoration:none; margin-left:-20px; margin-top:10px; border:none;">
                                <select id="menuDesplegable">
                                    <option value="">Elige:</option>
                                    <option value="https://localhost:44344/Home/Home">Todas</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.idCateg">@item.nameCateg</option>
                                    }
                                </select>
                            </ul>*@
                        @*</div>*@
                    </li>
                    <li style="margin-left:50px;">
                        @Html.ActionLink("Nosotros", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control" type="search" style="width:300px;" placeholder="Search" aria-label="Search">
                    @*<button class="btn btn-outline-success" type="submit">Search</button>*@
                </form>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Everyday</p>
            </footer>*@
    </div>
    <script src="~/Models/JavaScript.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>