@model Everyday.Models.Usuario

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<style>
    .caja {
        background-image: url(../../Image/Icono.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 657px;
        display: flex;
        justify-content: center;
    }

    /* LOGIN */
    .login-box {
        border-radius: 7px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        width: 500px;
        height: 550px;
        text-align: center;
        justify-content: center;
        padding: 35px 0px 35px 0px;
        margin: auto;
    }

    #email, #keyUser, #enviar, select, textarea {
        max-width: 400px;
    }

    #email, #keyUser {
        padding: 15px 0px 15px 0px;
        background-color: #FFFFFF;
        box-shadow: 6px 8px 4px rgba(0, 0, 0, 0.1);
        color: #636262;
        text-align: center;
        border: none;
        border-radius: 5px;
        width: 370px;
        height: 50px;
        outline: none;
        font-size: 20px;
        margin-bottom: 30px;
    }

    input::placeholder {
        color: #636262;
    }

    #enviar {
        cursor: pointer;
        border-radius: 5px;
        background-color: #3994FF;
        color: white;
        width: 370px;
        height: 50px;
        font-size: 20px;
        border: none;
        margin: 0px 0px 15px 0px; /* 0px Arriba, 0px Izquierda, 10px Abajo, 0px Derecha*/
    }

    #btnRegistrarse {
        cursor: pointer;
        color: #868686;
        font-size: 20px;
        margin-top: 15px;
        text-decoration: none;
    }

    #box-linea {
        padding: 0px 65px;
    }

    hr {
        background-color: black;
    }

    h2 {
        margin-top: -10px;
        color: black;
        font-weight: bold;
    }
</style>

<body>
    <div class="caja">
        <div class="login-box">
            <h2>Iniciar sesión</h2>
            <h5 style="color: #868686; margin-top: 20px;">¡Bienvenido a nuestra tienda online!</h5>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <br />
                @Html.TextBoxFor(u => u.email, htmlAttributes: new { required = "", type = "email", placeholder = "Correo", autocomplete = "off" })
                <br /><br />
                @Html.TextBoxFor(u => u.keyUser, htmlAttributes: new { required = "", type = "password", placeholder = "Contraseña", autocomplete = "off" })
                <br /><br />
                <input type="submit" value="Iniciar sesión" id="enviar" />
                <div id="box-linea">
                    <hr />
                    <span class="text-bg-danger">
                        @ViewBag.Error
                    </span>
                </div>
            }
            @Html.ActionLink("Registrarse", "Create", "Account", null, new { id = "btnRegistrarse" })
            <footer style="color: #868686; margin-top: 20px;">
                <p style="">Copyright&copy; Everyday @DateTime.Now.Year</p>
            </footer>
        </div>
    </div>    
</body>